# Dependency Directories
node_modules/
frontend/node_modules/

# Local Dev/Build outputs
dist/
frontend/dist/

# IDE and System Files
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log

# Dynamic/User-Uploaded Media (ignore content, keep folders)
Userdatabase/ProfilePic/*
!Userdatabase/ProfilePic/defaulta.jpg
uploads/**/*
!uploads/**/
!uploads/**/.gitkeep
!uploads/fonts/yuyu-regular.ttf
!uploads/fonts/anton-regular.ttf
!uploads/fonts/quicksand-regular.ttf
# !uploads/.gitkeep
thumbnails/*
!thumbnails/.gitkeep

# yt-dlp downloads and backups
yt-dlp-downloads/*
backend/bin/*_backup*.exe
backend/bin/*_v*.exe
backend/bin/cookies.txt

# Environment files
.env
backend/.env
